.mb-minus-20px {
  margin-bottom: -20px !important;
}

.mr-20px {
  margin-right: 20px !important;
}

.mt-20px {
  margin-top: 20px !important;
}

.px-70px {
  padding-right: 70px !important;
  padding-left: 70px !important;
}

.pl-44px {
  padding-left: 44px !important;
}

.custom-control-spacing {
  padding-left: calc(1.5rem + 20px);
}

.mb-30px {
  margin-bottom: 30px;
}

/* Paragraph margin bottom */
.mb-p {
  margin-bottom: 24px;
}